# Git
.git/
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/
.venv/
venv/

# local Storage
storage/

# Environnement
.env
*.env.local

# Tests
tests/

# Docs
*.md
docs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Infra and monitoring
infra/
monitoring/