# API
fastapi[standard]
uvicorn[standard]
python-multipart
pydantic>=2.7
pydantic-settings>=2.2

# LangChain + LangGraph + LLM
langchain
langchain-community
langchain-ollama
langchain-text-splitters
langgraph
sentence-transformers
faiss-cpu
ollama

mlflow==2.21.0

# Logging
structlog>=24.1